{
  "plugins": ["@shopify/prettier-plugin-liquid"],
  "endOfLine": "auto",
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "customFunctions": ["cn", "twMerge", "clsx"],
  "endingPosition": "relative"
}
